<div class="contenedor">
    <section class="contenido mb-5" id="contenido">
        <article id="jugadores" class="tituloBox">
            <h2>Nuestra</h2>
            <h2 class="jugadores"> Identidad</h2>
        </article>
    </section>
    <div class="card_container">
        <div class="card ">
            <div class=" img">
                <img src="../../../../assets/music/ESCUDO_COLEGIO-removebg-preview.png" alt="">
            </div>
            <span>PROPOSITO</span>
            <p class="info"> Fomentar el desarrollo integral de nuestros estudiantes a través del deporte, promoviendo
                los
                valores de trabajo en equipo, disciplina y superación personal en un ambiente de sana competencia. ¡Que
                cada partido sea una oportunidad para crecer, aprender y disfrutar del fútbol como una
                experiencia enriquecedora para toda nuestra comunidad escolar!</p>

        </div>
        <div class="card ">
            <div class=" img">
                <img src="../../../../assets/music/ESCUDO_COLEGIO-removebg-preview.png" alt="">
            </div>
            <span id="vision">VISIÓN</span>
            <p class="info" id="infovision">Ser líderes en la promoción del deporte escolar y el desarrollo integral de
                los estudiantes
                en
                nuestra comunidad, inspirándolos a través del fútbol a alcanzar su máximo potencial y a cultivar valores
                de
                excelencia, respeto y trabajo en equipo.
            </p>
        </div>
        <div class="card">
            <div class="img">
                <img src="../../../../assets/music/ESCUDO_COLEGIO-removebg-preview.png" alt="">
            </div>
            <span>MENSAJE</span>
            <p class="info"> ¡Bienvenidos a la Liga Interna de Fútbol Escolar María Reina! Aquí, el espíritu deportivo
                se
                une a la excelencia académica para crear una experiencia única. Cada partido es una oportunidad para
                crecer,
                aprender y disfrutar del fútbol en un ambiente de sana competencia. ¡Juntos, construimos un
                legado de éxito, compañerismo y pasión por el juego!.</p>

        </div>
    </div>
</div>