<div>
    <div class="categories">

        <section class="contenido mb-5" id="contenido">
            <article id="jugadores" class="tituloBox">
                <h2>Listado de</h2>
                <h2 class="jugadores"> JUGADORES</h2>
            </article>
        </section>
        <div class="list">
            <mat-tab-group mat-stretch-tabs mat-align-tabs="center" class="carousel" backgroundColor="primary">
                <mat-tab label="PRESCOLAR">
                    <app-prescolar></app-prescolar>
                </mat-tab>
                <mat-tab label="PRIMERO">
                    <app-primero></app-primero>
                </mat-tab>
                <mat-tab label="SEGUNDO">
                    <app-segundo></app-segundo>
                </mat-tab>
                <mat-tab label="TERCERO">
                    <app-tercero></app-tercero>
                </mat-tab>
                <mat-tab label="CUARTO">
                    <app-cuarto></app-cuarto>
                </mat-tab>
                <mat-tab label="QUINTO">
                    <app-quinto></app-quinto>
                </mat-tab>
                <mat-tab label="SEXTO">
                    <app-sexto></app-sexto>
                </mat-tab>
                <mat-tab label="SEPTIMO">
                    <app-septimo></app-septimo>
                </mat-tab>
                <mat-tab label="OCTAVO">
                    <app-octavo></app-octavo>
                </mat-tab>
                <mat-tab label="NOVENO">
                    <app-noveno></app-noveno>
                </mat-tab>
                <mat-tab label="DECIMO">
                    <app-decimo></app-decimo>
                </mat-tab>
                <mat-tab label="UNDECIMO">
                    <app-undecimo></app-undecimo>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>