<audio #audioPlayer>
  <source src="../assets/music/UEFA Europa League Anthem (Full Version).mp3" type="audio/mpeg">
  Tu navegador no soporta el elemento de audio.
</audio>

<div id="contenido">
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>

    <label class="logo">
      <img src="../assets/music/ESCUDO_COLEGIO-removebg-preview.png" alt="">
      TORNEO
      <i class="fa fa-braille" aria-hidden="true"></i>
      MARÍA REINA</label>
    <ul>
      <li><a class="active" routerLink="">Inicio</a></li>
      <li><a routerLink="/jugadores">Jugadores</a></li>
      <li><a routerLink="categoria">Torneo</a></li>
    </ul>
  </nav>
  <div class="video">
    <div class="fondo-video">
    </div>
    <video autoplay id="videoFondo" (ended)="playAudio()">
      <source src="../assets/music/upscalevideo-1-20240311_1VnxHi7J.mp4" type="video/mp4">
    </video>
  </div>
  <div class="container_list pb-5">
    <router-outlet></router-outlet>
  </div>
</div>