<div class="row">
  <div class="col-12 title-section">
    <h2 class="heading" id="teams">Nuestros equipos</h2>
  </div>
</div>
<div class="card__container">
  <article class="card__article">
    <img
      src="images_wallpapes/fondo_milan.webp"
      alt="image"
      class="card__img"
    />

    <div class="card__data" style="background-color: red">
      <span class="card__description">11-2 B</span>
      <h2 class="card__title">MILAN FC</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/fondo_borusia.webp"
      alt="image"
      class="card__img"
    />

    <div class="card__data" style="background-color: yellow">
      <span class="card__description">11-2 A</span>
      <h2 class="card__title">BORUSSIA DORTMUND</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/real_madrid.webp"
      alt="image"
      class="card__img"
    />

    <div class="card__data">
      <span class="card__description">11-1</span>
      <h2 class="card__title">REAL MADRID</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/juventus_fondo.webp"
      alt="image"
      class="card__img"
    />

    <div class="card__data" style="background-color: black; color: white">
      <span class="card__description">10-2</span>
      <h2 class="card__title" style="color: white">JUVENTUS</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/fondo_barcelona.webp"
      alt="image"
      class="card__img"
    />

    <div
      class="card__data"
      style="background-color: rgb(128, 10, 10); color: white"
    >
      <span class="card__description">10-1</span>
      <h2 class="card__title" style="color: white">FC BARCELONA</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/fond_liverpool.webp"
      alt="image"
      class="card__img"
    />

    <div class="card__data" style="background-color: red; color: black">
      <span class="card__description">9-1</span>
      <h2 class="card__title">LIVERPOOL FC</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/brasil _fondo.webp"
      alt="image"
      class="card__img"
    />

    <div class="card__data" style="background-color: rgb(247, 224, 16)">
      <span class="card__description">8-2</span>
      <h2 class="card__title">BRASIL</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/uruguay_fondo.webp"
      alt="image"
      class="card__img"
    />

    <div class="card__data" style="background-color: rgb(20, 114, 176)">
      <span class="card__description">8-1</span>
      <h2 class="card__title">URUGUAY</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/alemania_fondo.webp"
      alt="image"
      class="card__img"
    />

    <div class="card__data">
      <span class="card__description">7-2</span>
      <h2 class="card__title">ALEMANIA</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/argentina_fondo.webp"
      alt="image"
      class="card__img"
    />

    <div
      class="card__data"
      style="background-color: rgb(12, 69, 115); color: white"
    >
      <span class="card__description">7-1</span>
      <h2 class="card__title" style="color: white">ARGENTINA</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/jamaica_fondo.webp"
      alt="image"
      class="card__img"
    />

    <div class="card__data" style="background-color: green; color: black">
      <span class="card__description">6-3 B</span>
      <h2 class="card__title">JAMAICA</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/inglaterra_fondo.webp"
      alt="image"
      class="card__img"
    />

    <div class="card__data">
      <span class="card__description">6-3 A</span>
      <h2 class="card__title">INGLATERRA</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/holanda_fondo.webp"
      alt="image"
      class="card__img"
    />

    <div class="card__data" style="background-color: rgb(150, 74, 19)">
      <span class="card__description">6-2 B</span>
      <h2 class="card__title">HOLANDA</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/chile_fondo.webp"
      alt="image"
      class="card__img"
    />

    <div class="card__data">
      <span class="card__description">6-2 A</span>
      <h2 class="card__title">CHILE</h2>
    </div>
  </article>

  <article class="card__article">
    <img
      src="images_wallpapes/croacia_fondo.webp"
      alt="image"
      class="card__img"
    />

    <div class="card__data">
      <span class="card__description">6-1</span>
      <h2 class="card__title">CROACIA</h2>
    </div>
  </article>
</div>
